html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#topheader {
  margin: 0px;
  padding: 0px;
  height: 50px;
  background-color: #fccb92;
}

#headerline {
  text-align: center;
  padding: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}

#headlineLink {
  color: black;
  text-decoration: none;
}

#navbarOne {
  background-color: white;
  overflow: hidden;
}

#navbarOne a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  color: black;
}

#navbarOne a:hover {
  background-color: rgb(246, 131, 33);
  color: white;
}

.navbarOneImg {
  cursor: pointer;
  float: right;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

#lpulogo {
  display: span;
  height: 65px;
  width: 130px;
}

/* Add a black background color to the top navigation */
.mainNavbarLeft {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.mainNavbarLeft a {
  float: right;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

/* Change the color of links on hover */
.mainNavbarLeft a:hover {
  background-color: white;
  color: rgb(216, 152, 33);
}

/* Add a color to the active/current link */
.mainNavbarLeft a.active {
  background-color: white;
  color: rgb(216, 152, 33);
}
hr {
  padding: 0px;
  margin: 0px;
}
input {
  float: right;
}

.mainNavbarLeft input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-color: rgb(78, 75, 75);
  border-radius: 5px;
  border: 2px solid black;
}

#mainimg {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("/images/lpucampus.jpeg");
  background-size: 300px 100px;
  /* Control the height of the image */
  min-height: 700px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 100;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: rgb(241, 220, 181);
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: rgb(241, 220, 181);
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
